In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
real=pd.read_csv('real.csv')

In [3]:
fake=pd.read_csv('fake.csv')

In [4]:
    real['real?']=1

In [5]:
real

                                                   tweet  real?
0      sun downs technical director: al-ahly respecte...      1
1      shawky gharib after the tie with enppi: our go...      1
2      egyptian sports news today, wednesday 1/25/202...      1
3      the main referees committee of the egyptian fo...      1
4      haji bari, the striker of the future team, is ...      1
...                                                  ...    ...
21864  shawky gharib: we excluded 4 players from the ...      1
21865  dina musharraf resumes her career in the singa...      1
21866  indeed, al-ahly ended its agreement with ricar...      1
21867  hazem imam, the captain of zamalek, decided to...      1
21868  walid al-attar, executive director of the egyp...      1

[21869 rows x 2 columns]

In [6]:
fake['real?']=0

In [7]:
fake

                                                   tweet  real?
0      the tongue of his condition, now i saw things ...      0
1      by god the great, after i saw the derby of wyd...      0
2      believe in god, this zamalek fans are as good ...      0
3      the coach appeared in the media and told the t...      0
4      asno smito\nwhoever knows her tells me a massa...      0
...                                                  ...    ...
19994                             by hitting the referee      0
19995  and instead of assassinating him.. they assass...      0
19996  honestly, the goalkeeper deal is not the best\...      0
19997                        haha goal and no bangura (:      0
19998  i swear by god almighty\nmessi will not come t...      0

[19999 rows x 2 columns]

In [8]:
df=pd.concat([real,fake],ignore_index=True).sample(frac=1)

In [9]:
df

                                                   tweet  real?
6649   a comparison between the marketing value of za...      1
40847  if we win, then we won the most important matc...      0
36558  arbitration expert ahmed el shennawy\nal-ahly'...      0
25763   _ al-nasr _ al-douri\nbenalti for victory, th...      0
15387  the cameroonian tank, abu bakr, in zamalek, an...      1
...                                                  ...    ...
5678   ashraf hakimi specializes in global goals in t...      1
6690   farouk jaafar .. abdullah al-saeed is the best...      1
36902  -hilal_abha the annual series has begun to can...      0
28558  schubert\nal-ahly will pay an electric fine, b...      0
147    a source inside al-ahly club revealed the fact...      1

[41868 rows x 2 columns]

In [10]:
df.isnull().sum()

tweet    17
real?     0
dtype: int64

In [11]:
df=df.dropna(how='any')

In [12]:
x_train,x_test,y_train,y_test=train_test_split(df['tweet'],df['real?'],test_size=.2)

In [13]:
vectorizer=TfidfVectorizer()
x_train_vec=vectorizer.fit_transform(x_train)
x_test_vec=vectorizer.transform(x_test)

In [14]:
model=LogisticRegression()
model.fit(x_train_vec,y_train)

LogisticRegression()

In [15]:
y_pred=model.predict(x_test_vec)

In [34]:
print("accuracy = {:4.2f}%".format(accuracy_score(y_test,y_pred)*100))

accuracy = 95.16%